body{
    font-family: Roboto;
    font-size: 56px;
    }
p {
    background-color: #C4C4C4;
    width: 75%;
    height: 150px;
    }
p:nth-child(even) {
    width: 50%
    }

.div2 {
    font-size: 56px;
}
.p2 {
    font-size: 0.75em;
}
.p3 {
    font-size: 0.5em;
}
.div3 {
    font-size: 16px;
}
.p4 {
    font-size: 1.5em;
}
p:hover {
    font-size: 200%;
}